@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

* {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 758px;
    margin: auto;
}

.menu {
    background-color: #0d0d0d;
    height: 65px;
    border-bottom: 1px solid grey;
}

.menu ul {
    float: right;
}

.menu ul li {
    line-height: 65px;
    margin-left: 30px;
    text-transform: uppercase;
    color: grey;
    cursor: pointer;
    display: inline-block;
    font-family: "Tahoma", serif;
}

.menu ul li.active {
    color: white;
}

.logo {
    height: 120px;
    background-color: #2a2a2a;
}

.logo .image {
    background-image: url("../img/generic-logo.png");
    height: 40px;
    width: 205px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: inline-block;
    margin-top: 40px;
    float: left;
}

.logo .slogan {
    display: inline-block;
    border-left: 1px solid grey;
    padding-left: 10px;
    margin-left: 10px;
    line-height: 40px;
    font-family: Roboto;
    float: left;
    margin-top: 40px;
    color: white;
    font-size: 44px;
    font-weight: 100;
}